@import url("./CSS/navbar.css");
@import url("./CSS/login.css");

:root{
    --lightergrey: #f8f8f8;
}
body{
    margin: 0;
}
.item-img{
    width: 250px;
    height: 300px;
}
.container-card{
    width: 250px;
    background: var(--white) !important;
}