body{
    background: var(--lightergrey);
    padding: 8rem 4rem;
}
.container-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-options{
    gap: 40px;
}
.badge-number{
    background: red;
    color: white;
}
.searchbar{
    border: 1px solid var(--lightgrey);
    border-radius: 4px 0px 0px 4px;
    font-size: 1rem;
    padding: 8px 1rem;
    outline: none;
    color: var(--grey);
    width: clamp(200px, 30vw, 400px);
    position: relative;
}
.search-icon{
    color: var(--grey);
    font-weight: 200;
    border: 1px solid var(--lightgrey);
    border-radius: 0px 4px 4px 0px;
    padding: 8px 1rem;
    cursor: pointer;
}
.img-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-grid{
    display: grid;
    grid-template:
            'main main'
            'main main'
            'sub1 sub2';
    gap: 20px;
    margin-top: 2rem;

}
.section-main{
    background: var(--lightgrey);
    grid-area: main;
    height: 400px;
}
.section-sub{
    background:var(--lightgrey);
    height: 200px;
}
.s1{
    grid-area: sub1;
}
.s2{
    grid-area: sub2;
}